<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Machine Learning Engineer at
      <a class="underline-link" href="https://www.useblackbox.io/" target="_blank">BLACKBOX AI</a>, specializing in cutting-edge research on large language models and their applications in code generation.
      With over four years of hands-on experience, I bring a wealth of expertise to the table. 
      My educational foundation was established at <a class="underline-link" href="https://en.hcmus.edu.vn/" target="_blank">HCMC University of Science</a>, where I honed my skills and passion for the world of AI and ML. 
      I'm also a member of <a class="underline-link" href="https://vietai.org/" target="_blank">VietAI</a>, advised by <a class="uderline-link" href="https://scholar.google.com/citations?user=Bmbkv6sAAAAJ&hl=en" target="_blank">Minh-Thang Luong</a>, where we focus on advancing artificial intelligence research in the Vietnamese community.
    </p>

    <!-- <p>
      I enjoy bridging the gap between engineering and design &mdash; combining my technical knowledge
      with my keen eye for design to create a beautiful product. My goal is to always build applications that are scalable
      and efficient under the hood while providing engaging, pixel-perfect user experiences.
    </p> -->

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably swimming, watching movies,
      or taking my cute pets for a walk.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
